.Profile {
  padding: 15px;
}

.Profile__header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Profile__header img {
  width: 150px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.Profile__pointsCard {
  margin:20px 0 30px;
  display:flex;
  background: #F7F7FA;
  padding:15px 0;
  border-radius:10px;
}

.Profile__pointsCard div {
  flex: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
}

.Profile__pointsCard div:last-of-type {
  border-right: none;
}

.Profile__infos div {
  margin-bottom: 10px;
}
