:root {
  --font-size: 1.8rem;
  --font-family: 'Source Sans Pro', sans-serif;
  --color-typography-dark: #454F63;
  --color-primary: #665EFF;
  --color-primary-active: #4A43C5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

ul,
li {
  list-style: none;
}
